@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
body {
  background-color: #EEEFF1;
  font-family: "Roboto";
}

.head-container {
  height: 700px;
  width: 1250px;
}

.head-box ul {
  display: flex;
  gap: 42px;
  margin-top: 70px;
  list-style: none;
}

.head-box a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

li > a:hover {
  color: #34547A;
}

.head-box {
  width: 1250px;
  margin: 0 auto;
}

.title-name {
  display: flex;
  flex-direction: column;
  margin: 162px 0 0 30px;
  gap: 60px;
}

.title-name h1 {
  font-size: 48px;
}

.title-name p {
  color: #727272;
  line-height: 2;
}

.btn {
  width: 227px;
  height: 65px;
  background-color: #34547A;
  color: white;
  border: none;
}

.second-box {
  height: 400px;
  background-color: white;
}

.second-name {
  width: 540px;
  height: 147px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 90px;
  gap: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

.second-name p {
  line-height: 2;
  color: #727272;
}

.icon-box {
  height: 250px;
  background-color: #34547A;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  height: 100%;
  margin: 0 auto;
}

.third-box {
  height: 400px;
}

.third-name {
  width: 540px;
  height: 147px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 90px;
  gap: 20px;
}

.third-name p {
  line-height: 2;
  color: #727272;
}

.image-box {
  height: 700px;
}

.image-container {
  background-image: url("../images/image-back.png");
  background-size: cover;
  width: 1110px;
  height: 600px;
  margin: 0 auto;
}

.image-container img {
  margin-left: 505px;
  padding-top: 250px;
}

.bottom-box {
  height: 151px;
  background-color: #34547A;
}

footer {
  width: 1250px;
  margin: 0 auto;
}

.bottom-box h3 {
  padding-top: 50px;
  color: white;
  font-size: 21px;
  font-weight: 500;
}

.bottom-box p {
  color: white;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .head-container {
    width: 1000px;
    overflow: hidden;
  }
  .icon-container {
    width: 1000px;
  }
  .image-container {
    width: 900px;
  }
  footer {
    width: 1000px;
  }
  .image-container img {
    margin-left: 45%;
  }
  .bottom-box h3 {
    margin-left: 5%;
  }
  .bottom-box p {
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  .head-container {
    width: 768px;
    overflow: hidden;
  }
  .icon-container {
    width: 768px;
    overflow: hidden;
  }
  .image-container {
    width: 700px;
    background-size: 100% 100%;
  }
  footer {
    width: 768px;
  }
  .image-container img {
    margin-left: 45%;
  }
  .icon-container img:last-child {
    display: none;
  }
  .bottom-box h3 {
    margin-left: 5%;
  }
  .bottom-box p {
    margin-left: 5%;
  }
}
@media (max-width: 760px) {
  .head-container {
    width: 600px;
    margin: 0 auto;
  }
  .icon-container {
    width: 100%;
  }
  .head-box {
    width: 100%;
  }
  .head-box header {
    width: 300px;
    margin: 0 auto;
  }
  .head-box header ul {
    flex-wrap: wrap;
  }
  .title-name {
    margin: 0;
  }
  .title-name .btn {
    width: 100%;
  }
  .title-name h1 {
    text-align: center;
  }
  .title-name p {
    text-align: center;
  }
  ul li:last-child {
    padding-left: 40px;
  }
  ul li:nth-child(4) {
    padding-left: 20px;
  }
  .image-container {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .icon-container img:nth-child(4) {
    display: none;
  }
  .second-name {
    padding: 0;
  }
  .second-name h2 {
    padding-top: 55px;
  }
  .third-name {
    padding: 0;
  }
  .third-name h2 {
    padding-top: 55px;
  }
  ul li:nth-child(1) {
    margin-left: -10px;
  }
  ul li:nth-child(2) {
    margin-left: 20px;
  }
  ul li:nth-child(5) {
    padding-left: 50px;
  }
}
@media (max-width: 600px) {
  .head-container {
    width: 100%;
  }
  .icon-box img:nth-child(3) {
    display: none;
  }
  .second-name {
    width: 100%;
  }
  .third-name {
    width: 100%;
  }
}
@media (max-width: 453px) {
  .title-name {
    margin-top: 30%;
  }
  .title-name h1 {
    font-size: 33px;
    margin: 0;
  }
  .title-name p {
    font-size: 13px;
    margin: 0;
  }
  .second-name h2 {
    font-size: 28px;
  }
  .second-name p {
    font-size: 13px;
  }
  .third-name h2 {
    font-size: 28px;
  }
  .third-name p {
    font-size: 13px;
  }
  .second-box {
    height: 350px;
  }
  .third-box {
    height: 350px;
  }
  .icon-box img {
    width: 120px;
  }
  .image-box {
    height: 500px;
  }
  .image-container {
    height: 400px;
  }
  .image-container img {
    width: 70px;
    padding-top: 45%;
  }
  .head-box ul {
    margin-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */